<!--
// Title: Exercise 3.2 - Passing Data to Routes pt. 1
// Author: Professor Krasso
// Date: 6 Nov 2022
// Modified By: Kayla McDanel
// Description: Enhanced Composer App
// Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->



<div class="container">
  <h2> Duke Ellington </h2>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/Duke-Ellington.png">
        <figcaption>Duke Ellington. Encyclopedia Britannica.</figcaption>
      </div>
      <div class="col-sm-8">
        <p>Duke Ellington was born Edward Kennedy Ellington on April 29, 1899, in Washington, D.C.
          He began playing piano at age 7 and studied art throughout high school. He spent his adult life
          as a jazz composer, pianist, and band leader after beginning his career at age 17. He was with
          his band for half a century and composed thousands of scores. He performed with the likes of Louis
          Armstrong, Ella Fitzgerald, and John Coltrane, and composed with Strayhorn very closely for years.</p>
      </div>
    </div>
