<!--
// Title: Exercise 5.2 - Navigation and Layout
// Author: Professor Krasso
// Date: 19 Nov 2022
// Modified By: Kayla McDanel
// Description: In-N-Out Books App
// Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->

<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/chuck-palahniuk-allan-amato-4.webp" />
      </div>
      <div>
        <em>
          Photo by Allan Amato from <a class="attribution-link" href="www.chuckpalahniuk.net" target="_blank">www.chuckpalahniuk.net</a>
        </em>
      </div>
    </div>
  </div>
  <div fxFlex>
    <h1 class="blue">Chuck Palahniuk</h1>
    <p>
      Chuck Palahniuk was born in 1962 in Burbank, Washington. The surname is of Ukrainian origin and his family life was less than stellar.
      His paternal grandfather shot his wife before turning the gun on himself when his father was three, and Chuck’s father died by gunshot as well from a
      lover’s ex-partner later in life. Chuck credits his interest in writing to his fifth-grade teacher, Mr. Olsen, and incorporates much of his own life experience into his writings.
      While the beginning of his career did not start with a bang, Chuck’s success includes New York Times bestseller Choke, as well as a movie adaptation of his book, Fight Club.
    </p>
    <em>Biography by: <a class="attribution-link" href="www.chuckpalahniuk.net" target="_blank">Joshua Chaplinsky</a>
    </em>
  </div>
</div>
