<!--
Title: Assignment 2.4 - Routing in Action
Author: Professor Krasso
Date: 30 Oct 2022
Modified By: Kayla McDanel
Description: Composer App
Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->

<h1>Contact Us</h1>

<div class="row">

  <div class="col-sm-6">
    <div class="row location">
      <div class="col-sm-12">
        <h2>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mailbox" viewBox="0 0 16 16">
          <path d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
          <path d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854zM5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
        </svg>
          Address</h2>
      </div>
    </div>

    <div class="row location">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">123 First Street</li>
          <li class="list-group-item">Chattanooga, TN 67891</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="col-sm-6">
      <div class="row location">
        <div class="col-sm-12">
          <h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
            <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
            <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
          </svg>
            Telephone</h2>
        </div>
      </div>

      <div class="row location">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item border-0">123-555-4567</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
