<!--
  // Title: Assignment 5.4 - Dialogs
  // Author: Professor Krasso
  // Date: 20 Nov 2022
  // Modified By: Kayla McDanel
  // Description: In-N-Out Books App
  // Code Attribution: Code and instruction provided by Professor Krasso's videos and assignment docs.
-->

<mat-card>

  <mat-card-title class="blue">
    {{ book.title }}
  </mat-card-title>

  <mat-card-content>
    <div fxLayout="column" class="book-details">
      <p>ISBN:
        <br /> {{ book.isbn }}</p>
      <p>Authors:
        <br /> {{ book.authors.join(", ") }}</p>
      <p>Description:
        <br /> {{ book.description }}</p>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" matDialogClose="confirm">OK
    </button>
  </mat-card-actions>

</mat-card>
